<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="../css/contact.css">
</head>
<body>
    <header>
        <h2>Support Form</h2>
    </header>

    <section>
        <form action="index.html">
        <div class="supform">
        <h2>User data</h2><br>
        <p>Write your name</p>
        <input type="text"  placeholder="Name" required>
        <p>Write your email</p>
        <input type="email"  placeholder="Email" required>
        <p>Write your Phone</p>
        <input type="number" placeholder="123456789" required>
        <p>Write Your Problem</p>
        <textarea required style="resize: none;" rows="15" cols="50" name="" id=""></textarea><br><br>
        <input type="submit" value="Enviar">
        <button><a href="index.html">Back</a></button>
        </form>

       </div>

       <div class="Datainfo">
        
            <fieldset>
                <legend>Necessary Data</legend>

                <ul>
                    <p><strong>Under "write your problem" you will put this information</strong></p><br>
                    <li>Write your age</li>
                    <li>Write the date with year and hour</li>
                    <li>Write the city</li>
                    <li>Write your problem</li>
                </ul>

            </fieldset>
            
            <p class="p01"><strong>We value the trust our customers place in us, and we are committed to thoroughly investigating any support requests submitted through our form. Your concerns are important to us, and we will work diligently to address them as quickly as possible. Rest assured that all information provided in the support form will remain confidential and will not be shared or disclosed to any third parties without your consent. We take your privacy seriously and are dedicated to protecting your personal information at all times.</strong></p>
       </div>
    </section>

    <form class="botones">
    </form>
    
    <div>
        <footer class="footer">
          <div class="footer-container">
            <div class="footer-redes">
              <!--parte hisquierda de el footer-->
              <span>Social Networks</span>
            </div>
            <div class="footer-div">
              <ul class="footer-social">
                <li class="footer-center">
                  <a class="footer-social_li" href="#">
                    <img src="../images/logo-instragram.png" alt="logo de instragram" />
                    <span>Instagram</span>
                  </a>
                </li>
                <li class="footer-center">
                  <a class="footer-social_li" href="#">
                    <img src="../images/logo-youtube.png" alt="logo de youtube">
                    <span>Youtube</span>
                  </a>
                </li>
                <li class="footer-center">
                  <a class="footer-social_li" href="#">
                    <img src="../images/logo-tiktok.png" alt="logo de tiktok">
                    <span>Tiktok</span>
                  </a>
                </li>
                <li class="footer-center">
                  <a class="footer-social_li" href="#">
                    <img src="../images/logo-facebook.png" alt="logo de facebook">
                    <span>Facebook</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
  
          
          <!--LINEA DEL FOOTER-->
          <div class="footer-line"></div>
  
          <div class="footer-container">
            <div class="footer-redes">
              <!--parte del centro de el footer-->
              <span>©opyright 2025</span>
            </div>
            <div class="footer-li">
              <img class="logo-footer" src="images/logo.jpg" alt="Imagen de la pagina web" />
            </div>
          </div>
  
          <!--LINEA DEL FOOTER-->
          <div class="footer-line"></div>
  
          <div class="footer-container">
            <div class="footer-redes">
              <!--parte derecha de el footer-->
              <span>Contact Us</span>
            </div>
            <div>
              <ul class="footer-social_li footer-li">
                <li><span>(555) 999-999</span></li>
                <li><span>334 E Margete ave</span></li>
              </ul>
            </div>
          </div>
        </footer>
      </div>
</body>
</html>