<!DOCTYPE html>
<html>
  <head>
    <!--etiqueta para css-->
    <link rel="stylesheet" href="../css/style.css" type="text/css" />
    <title>Shurkers</title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');
      </style>
  </head>
  <body class="body"> <!--este es el cuerpo de la pagina-->
    <!--Aqui va el codigo de la pagina-->

<div class="navegation-bar"> <!--esta es la barra de navegacion-->
  <nav>
    <ul class="nav-list">
      <li><a href="index.html"><img src="../images/logo.jpg" class="logo" alt="logo de la pagina"></a></li>
      <li><a class="nav-link" href="index.html">Inicio</a></li>
      <li><a class="nav-link" href="#">Menu</a></li>
      <li><a class="nav-link" href="#">Bartender</a></li>
      <li><a class="nav-link" href="../views/contact.html">Contact Us</a></li>
      <li><a class="login" href="../views/login.html">Login</a></li>
      <li><a class="register" href="../views/register.html">Register</a></li>
      <!--AQUI BA LA IMAGEN DEL CARRITO-->
      <li><a href="#"><img class="logo" src="../images/carrito.png" alt="carrito de conpras" ></a></li>
    </ul>
  </nav>
</div>

    <div class="fondo-central"> <!-- DIV central de la pagina, contiene las dos imagenes -->
      <div class="contenedor-imageniz"> <!-- DIV de la imagen izquierda de la pagina -->
        <img src="../images/sack.jpg" alt="bar man" />
      </div>
      <div class="contenedor-imagende"> <!-- DIV de la imagen derecha de la pagina -->
        <img src="../images/oysters.webp" alt="comida" />
      </div>
    </div>

    <!-- footer-->
    <div>
      <footer class="footer">
        <div class="footer-container">
          <div class="footer-redes">
            <!--parte hisquierda de el footer-->
            <span>Social Networks</span>
          </div>
          <div class="footer-div">
            <ul class="footer-social">
              <li class="footer-center">
                <a class="footer-social_li" href="#">
                  <img src="../images/logo-instragram.png" alt="logo de instragram" />
                  <span>Instagram</span>
                </a>
              </li>
              <li class="footer-center">
                <a class="footer-social_li" href="#">
                  <img src="../images/logo-youtube.png" alt="logo de youtube">
                  <span>Youtube</span>
                </a>
              </li>
              <li class="footer-center">
                <a class="footer-social_li" href="#">
                  <img src="../images/logo-tiktok.png" alt="logo de tiktok">
                  <span>Tiktok</span>
                </a>
              </li>
              <li class="footer-center">
                <a class="footer-social_li" href="#">
                  <img src="../images/logo-facebook.png" alt="logo de facebook">
                  <span>Facebook</span>
                </a>
              </li>
            </ul>
          </div>
        </div>

        
        <!--LINEA DEL FOOTER-->
        <div class="footer-line"></div>

        <div class="footer-container">
          <div class="footer-redes">
            <!--parte del centro de el footer-->
            <span>©opyright 2025</span>
          </div>
          <div class="footer-li">
            <img class="logo-footer" src="images/logo.jpg" alt="Imagen de la pagina web" />
          </div>
        </div>

        <!--LINEA DEL FOOTER-->
        <div class="footer-line"></div>

        <div class="footer-container">
          <div class="footer-redes">
            <!--parte derecha de el footer-->
            <span>Contact Us</span>
          </div>
          <div>
            <ul class="footer-social_li footer-li">
              <li><span>(555) 999-999</span></li>
              <li><span>334 E Margete ave</span></li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>