<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/card.css">
    <title>Login</title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');
    </style>
</head>
<body class="body">
    <div class="navegation-bar"> <!--esta es la barra de navegacion-->
        <nav>
          <ul class="nav-list">
            <li><a href="/index.html"><img src="../images/logo.jpg" class="logo" alt="logo de la pagina"></a></li>
            <li><a class="nav-link" href="index.html">Inicio</a></li>
            <li><a class="nav-link" href="#">Menu</a></li>
            <li><a class="nav-link" href="#">Bartender</a></li>
            <li><a class="nav-link" href="contact.html">Contact Us</a></li>
            <li><a class="register" href="register.html">Register</a></li>
            <!--AQUI BA LA IMAGEN DEL CARRITO-->
            <li><a href="#"><img class="logo" src="../images/carrito.png" alt="carrito de conpras" ></a></li>
          </ul>
        </nav>
      </div>

  <div class="container">
    <div class="container-form">
      <div class="container-flex">
        <div class="form-div">
          <h3 class="form-div-login" >Login</h3>
        </div>
        <form class="form" action="index.html" method="post">
            <div class="form-div">
              <div class="form-div-input">
                <input class="form-input" required name="" id="" type="email" placeholder="email">
              </div>
              <div class="form-div-input">
                <input class="form-input" required name="" id="" type="password" placeholder="password">
              </div>
            </div>
            <div>
              <input class="button" type="submit" value="Sign In">
            </div>
        </form>
        <div class="text">
          <div>
            <span>Don't have an account yet?</span>
          </div>
          <div>
              <span><a  class="direcction" href="register.html">please register </a></span>
          </div>
        </div>
      </div>

      <div class="line"></div>

      <div class="container-flex">
        <img src="../images/register-image.png" alt="Una persona con un platillo de comida">
      </div>
    </div>
  </div>
      
</body>
</html>